.card{
    border: 1px solid black;
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.seminar_desc{
    margin-top: 5px;
    margin-bottom: 10px;
}

.card img{

    width: 195px;       
    height:  199px;          
    object-fit: cover;
}